#hero{
    display: flex;
    text-align: left;
}
#hero-Text{
    width: 50%;
    margin: 0 2%;
}
#popular-Skateparks{
    width: 50%;
    margin: 0 2%;
}

#welcome-Text{
    font-size: 2.3rem;
    line-height: 1;
}

#browse-Skateparks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
#browse-Skateparks-text {
    text-align: left;
}
.filters {
    display: flex;
    gap: 1rem;
}
.dropdownFilter {
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: rgb(76, 76, 77);
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s ease;
}
.dropdownFilter:hover {
    border-color: #555;
}
.dropdownFilter:focus {
    outline: none;
    border-color: black;
}

#more-Parks{
    height: 2.2rem;
    width: 9rem;
    margin-top: 1.5rem;

    background-color: rgba(192, 192, 192, 0.2);
    color: rgb(255, 255, 255);
}